<div class="center" style="margin-top: 35px;">
  <h4 class="custom-grey-text">Registre-se</h4>
</div>
<div class="row">
  <div class="card z-depth-4 col m6 offset-m3 s12">
    <div class="card-content">
      <div class="row">
        <div class="col m10 offset-m1 s10 offset-s1">
          <%= form_with(model: resource, url: registration_path(resource_name), local: true) do |f| %>
            <%= devise_error_messages! %>

            <div class="input-field">
              <%= f.email_field :email, autocomplete: 'email' %>
              <%= f.label :email, class: 'active' %>
            </div>

            <div class="input-field">
              <%= f.password_field :password, autocomplete: 'off' %>
              <label for="user_password" class='active'>Senha</label>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
            </div>

            <div class="input-field">
              <%= f.password_field :password_confirmation, autocomplete: 'off' %>
              <%= f.label :password_confirmation, 'Confirmação de senha', class: 'active' %>
            </div>

            <div class="submit-button center row">
              <button class="btn btn-large custom-blue form-button col m12 s12" type='submit'>
                <i class="material-icons right">add</i>
                Criar agora
              </button>
            </div>

          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>